body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 20%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
}

.content {
    margin-left: 20%;
    padding: 20px;
}

.search-bar {
    display: flex;
    flex-direction: column;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.clear-search {
    cursor: pointer;
    margin-top: 10px;
    color: #007bff;
    font-size: 14px;
    text-decoration: underline;
}

.posts-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.posts-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}

.posts-item:hover {
    background-color: #f1f1f1;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.chart-header {
    margin-bottom: 20px; 
}


.table, .table th, .table td {
    border: 1px solid #ccc; /* Adds light gray borders */
    border-collapse: collapse; /* Removes double borders */
}

.table {
    width: 100%; /* Makes the table take up full container width */
    margin-top: 20px; /* Adds space above the table */
}

.table th, .table td {
    padding: 8px; /* Adds padding inside cells */
    text-align: left; /* Aligns text to the left in cells */
}

.table th {
    background-color: #f2f2f2; /* Light grey background for headers */
    color: #333; /* Dark text color for better readability */
}

.table tr:nth-child(even) {
    background-color: #f9f9f9; /* Zebra striping for even rows */
}

.table tr:hover {
    background-color: #e8e8e8; /* Highlight row on hover */
}

.tag-badge {
    display: inline-block;
    margin: 2px;
    color: white; 
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 0.85em;
    white-space: nowrap;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}